@model AppointmentSystem.Dtos.Patient.RegisterPatientRequestDto

<div class="login-bg-color">  
<section class="vh-100 py-2">
  <div class="container bg-white ">
    <div class="row">
      <div class="col-sm-4 text-black">

        <div class="px-1 ms-xl-4 pt-5">
          <svg class="me-3 svg-color"  style="width: 30px;
    height: 30px;color:white !important;" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
              <path d="M224 256c70.7 0 128-57.3 128-128S294.7 0 224 0 96 57.3 96 128s57.3 128 128 128zM104 424c0 13.3 10.7 24 24 24s24-10.7 24-24-10.7-24-24-24-24 10.7-24 24zm216-135.4v49c36.5 7.4 64 39.8 64 78.4v41.7c0 7.6-5.4 14.2-12.9 15.7l-32.2 6.4c-4.3 .9-8.5-1.9-9.4-6.3l-3.1-15.7c-.9-4.3 1.9-8.6 6.3-9.4l19.3-3.9V416c0-62.8-96-65.1-96 1.9v26.7l19.3 3.9c4.3 .9 7.1 5.1 6.3 9.4l-3.1 15.7c-.9 4.3-5.1 7.1-9.4 6.3l-31.2-4.2c-7.9-1.1-13.8-7.8-13.8-15.9V416c0-38.6 27.5-70.9 64-78.4v-45.2c-2.2 .7-4.4 1.1-6.6 1.9-18 6.3-37.3 9.8-57.4 9.8s-39.4-3.5-57.4-9.8c-7.4-2.6-14.9-4.2-22.6-5.2v81.6c23.1 6.9 40 28.1 40 53.4 0 30.9-25.1 56-56 56s-56-25.1-56-56c0-25.3 16.9-46.5 40-53.4v-80.4C48.5 301 0 355.8 0 422.4v44.8C0 491.9 20.1 512 44.8 512h358.4c24.7 0 44.8-20.1 44.8-44.8v-44.8c0-72-56.8-130.3-128-133.8z"/></svg>
          <span class="h2 fw-bold mb-0 main-color">Appointment System</span>
        </div>
                    @if (!ViewData.ModelState.IsValid)
                    {
                           <div class= "my-2">

                            @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                            {
                                        <div class="alert alert-danger">@error.ErrorMessage</div>
                            }
                        </div>
                    }

        <div class="d-flex align-items-center h-custom-2 px-2 ms-xl-4 pt-5  mt-xl-n5">

          <form asp-action="Signup" asp-controller= "Account" method="post" style="width: 23rem;">
            <h4 class="fw-normal mb-3 pb-3 pt-5 main-color" style="letter-spacing: 1px;">Welcome, Sign up</h4>
            <div class="mb-4">
            <div data-mdb-input-init class="form-outline">
              <input type="text"  asp-for="FullName" class="form-control form-control-lg" />
              <label class="form-label" asp-for="FullName"></label>
            </div>
                     <span asp-validation-for="FullName" class="text-danger"></span> 
                     </div>
      <div class="mb-4">
            <div data-mdb-input-init class="form-outline">
              <input type="email"  asp-for="Email" class="form-control form-control-lg" />
              <label class="form-label" asp-for="Email"></label>
            </div>
                     <span asp-validation-for="Email" class="text-danger"></span> 
                     </div>
         <div class="mb-4">
                     <div data-mdb-input-init class="form-outline ">
              <input type="password" asp-for="Password" class="form-control form-control-lg" />
              <label class="form-label" asp-for="Password"></label>
            </div>
        <span asp-validation-for="Password" class="text-danger"></span> 
        </div>
          
       
            <div class="mb-4">
                     <div data-mdb-input-init class="form-outline ">
              <input type="password" asp-for="ConfirmPassword" class="form-control form-control-lg" />
              <label class="form-label" asp-for="ConfirmPassword"></label>
            </div>
        <span asp-validation-for="ConfirmPassword" class="text-danger"></span> 
        </div>
        <div class="mb-4">
                            <label class="form-label">Gender</label>
                            <select asp-for="Gender" class="form-control">
                                <option value="0">Male</option>
                                <option value="1">Female</option>
                                <option value="2">Other</option>
                            </select>
                        </div>
            <div class="pt-1 mb-4">
              <button data-mdb-button-init data-mdb-ripple-init class="btn btn-color btn-lg btn-block "  type="submit">Register</button>
            </div>

          </form>

        </div>
            <div class="text-center mt-3">
                        <p>Already have an account?  
                            <a asp-action="Login" asp-controller="Account" class="main-color">Log in</a>
                        </p>
                    </div>
      </div>
      <div class="col-sm-8 d-none  d-sm-block">
        <img  src="/assets/login-pic.webp"
          alt="Login image" class="w-100 vh-100" style="object-fit: fill; object-position: left;">
      </div>
    </div>
  </div>
</section>
</div>

@section Scripts {
    @{
                                <partial name="_ValidationScriptsPartial"/>
    }
}