html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}
.login-bg-color {
    background-color: #d6f1ef;
}
.login-btn-color {
    color: #d6eaec !important;
    background-color: #30505e !important;
}

    .login-btn-color:hover {
        color: white !important;
        background-color: #30505e !important;
    }

.main-color {
    color: #30505e !important;
    
}