@model AppointmentSystem.Dtos.Admin.AdminUpdateDto

@{
    ViewData["Title"] = "Update Admin";
}

<div class="container mt-4">
      <div class="d-flex align-items-center gap-3 mb-3">
    <a class="main-color" asp-controller="Admin" asp-action="ManageAdmins">
        <i class="bi bi-box-arrow-left"></i> Back
    </a>
    <h2 class="main-color">Update Admin</h2>
    </div>
    <form asp-controller="Admin" asp-action="UpdateAdmin" method="post">
        <input type="hidden" asp-for="UserId" />

        <div class="mb-3">
            <label asp-for="FullName" class="form-label"></label>
            <input asp-for="FullName" class="form-control" required />
            <span asp-validation-for="FullName" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="Email" class="form-label"></label>
            <input asp-for="Email" class="form-control" required />
            <span asp-validation-for="Email" class="text-danger"></span>
        </div>

        <button type="submit" class="btn-color btn">Update</button>
    </form>
</div>
@section Scripts {
    @{
                        <partial name="_ValidationScriptsPartial"/>
    }
}