
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - AppointmentSystem.Web</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/AppointmentSystem.Web.styles.css" asp-append-version="true" />
        <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<link href="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

<link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.min.css"/>
<style>
    
    .toast-success {
        background-color: #28a745 !important; 
        color: white !important;
    }

    .toast-error {
        background-color: #dc3545 !important; 
        color: white !important;
    }

    .toast-message {
        font-size: 14px !important;
        font-weight: bold !important;
    }
</style>


</head>
<body>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
     <script src = "//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/js/toastr.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.4.2/mdb.min.js"></script>
    @* <div class="container"> *@
                    <partial name="_Notification"/>

        <main role="main" class="pb-3">

            @RenderBody()
        </main>
    @* </div> *@

    @* <footer class="border-top footer text-muted"> *@
    @*     <div class="container"> *@
    @*         &copy; 2025 - AppointmentSystem.Web - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a> *@
    @*     </div> *@
    @* </footer> *@
  

    

    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)

<div class="modal fade" id="forgotPasswordModal" tabindex="-1" aria-labelledby="forgotPasswordModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title">Reset Password</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <form asp-controller="Account" asp-action="ResetPassword" method="post">
                       <div class="mb-3">
            <label for="OldPassword" class="form-label">Old Password</label>
            <input id="OldPassword" name="OldPassword" type="password" class="form-control" required  />
           
        </div>

                      <div class="mb-3">
            <label for="NewPassword" class="form-label">New Password</label>
            <input id="NewPassword" name="NewPassword" type="password" class="form-control" required minlength="6" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{6,}$"  title="Password must include uppercase, lowercase, number, special character and be at least 6 characters." />
         
        </div>

        <div class="mb-3">
            <label for="ConfirmPassword" class="form-label">ConfirmPassword</label>
            <input id="ConfirmPassword" name ="ConfirmPassword" type="password" class="form-control" required minlength="6" pattern="^(?=.*[a-z])(?=.*[A-Z])(?=.*\d)(?=.*[@@$!%*?&])[A-Za-z\d@@$!%*?&]{6,}$"  title="Password must include uppercase, lowercase, number, special character and be at least 6 characters." />
        </div>
      
                    <button type="submit" class="btn btn-color">Change Password</button>
                </form>
            </div>
        </div>
    </div>
</div>
</body>

</html>
